.panel-1 { 
  background-color: #FEBB08;
  border-radius: 15px;
  color: white;
  padding: 15px;
  margin-top: 15px;
}

.denom {
  color: gray;
}

.churchName {
  margin-top: 5px;
}

.churchLink {
  text-decoration: none;
}